<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mintyben.logintest">

    <application
        android:name="com.mintyben.logintest.LoginApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mintyben.logintest.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mintyben.logintest.AuthenticationService"
            android:icon="@android:drawable/ic_secure"
            android:label="@string/s_auth_label" />

        <activity
            android:name="com.mintyben.logintest.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.mintyben.logintest.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintben.logintest.HomeActivity" />
        </activity>
    </application>

</manifest>
